<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.y20k.trackbook">

    <!-- EXCLUDE NON-GPS DEVICES -->
    <uses-feature android:name="android.hardware.location.gps" android:required="true" />

    <!-- NORMAL PERMISSIONS, automatically granted -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- DANGEROUS PERMISSIONS, must request -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Trackbook"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backupscheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TrackbookAppTheme">

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/TrackbookAppTheme"
            android:resizeableActivity="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- TODO App is not indexable by Google Search; consider adding at least one Activity with an ACTION-VIEW intent filter. See issue explanation for more details. -->
        </activity>

        <!-- TRACKER SERVICE -->
        <service
            android:name=".TrackerService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.y20k.trackbook.action.START" />
                <action android:name="org.y20k.trackbook.action.STOP" />
                <action android:name="org.y20k.trackbook.action.DISMISS" />
            </intent-filter>
        </service>

        <!-- EXPORT HELPER (FILE PROVIDER) -->
        <provider
            android:name=".helpers.ExportHelper"
            android:authorities="org.y20k.trackbook.exporthelper.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>